@import "../../variable.scss";
@import "../../responsive.scss";

.contentContainer {
  width: 100%;
  padding: 10px;

  .home {
    display: grid;
    gap: 5px;
    grid-auto-rows: minmax(180px, auto);

    @include sm {
      grid-template-columns: repeat(1, 1fr);
    }

    @include md {
      grid-template-columns: repeat(1, 1fr);
    }

    @include lg {
      grid-template-columns: repeat(2, 1fr);
    }

    @include xl {
      grid-template-columns: repeat(3, 1fr);
    }

    @include xxl {
      grid-template-columns: repeat(4, 1fr);
    }

    .box {
      padding: 20px;
      border: 1px solid $second-dark-color;
      border-radius: 5px;
      opacity: 0.9;

      &:hover {
        opacity: 1;
        background-color: rgba($second-dark-color, 0.5);
      }
    }

    .box1 {
      grid-row: span 3;
      grid-column: span 1;
    }

    .box4 {
      grid-column: span 1;

      @include sm {
        grid-row: span 2;
      }

      @include lg {
        grid-row: span 2;
      }

      @include xl {
        grid-row: span 3;
      }
    }

    .box7 {
      grid-row: span 2;

      @include sm {
        grid-column: span 1;
      }

      @include md {
        grid-column: span 1;
      }

      @include lg {
        grid-column: span 2;
      }
    }
  }
}
