@import "../../variable.scss";

.sidebar {
  min-width: 170px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-right: 1px solid $second-dark-color;
  padding: 20px;

  .title {
    color: $light-color;
    font-size: 10px;
    margin: 10px 0;
    text-transform: uppercase;
  }

  .listItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    text-transform: capitalize;

    &:hover {
      background-color: rgba($second-dark-color, 0.7);
      border-radius: 5px;
    }

    .icon {
      width: 25px;
      height: 25px;
    }

    span {
      font-weight: 400;
    }
  }
}
