@import "../../variable.scss";

.add {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba($color: #280061, $alpha: 0.5);

  .container {
    background: rgba($dark-color, 0.7);
    padding: 50px;
    max-width: 600px;
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 4px;

    .close {
      position: absolute;
      top: 10px;
      right: 20px;
      border-radius: 5px;
      padding: 4px 7px;

      &:hover {
        background-color: #fff;
        color: #000;
        cursor: pointer;
      }
    }

    h2 {
      margin-bottom: 10px;
      font-size: 22px;
    }

    .form {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      gap: 20px;

      .item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 10px;
        gap: 3px;

        input {
          padding: 10px;
          border: none;
          border-bottom: 1px solid whitesmoke;
          border-radius: 3px;
          background: transparent;
          color: whitesmoke;
        }
      }

      .submit {
        width: 100%;
        padding: 8px;
        margin-top: 20px;
        border: none;
        border-radius: 3px;
        cursor: pointer;

        &:hover {
          opacity: 0.7;
        }
      }
    }
  }
}
